/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
.flexbox {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.flexbox2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.listX {
  list-style-type: square;
  font-size: 1rem;
}
/********above is variables and mixin ******/
* {
  box-sizing: border-box;
}
body {
  width: 70%;
  height: 100%;
  border: 10px;
  margin: auto;
  padding: auto;
  font-family: 'Guto', 'Roboto';
  background: #fffeea;
  font-size: 62.5%;
  color: darkgray;
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.container .nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 20px 10px;
  border-radius: 20px;
  color: #fffeea;
  margin-bottom: 20px;
  font-size: 1rem;
}
.container .nav a {
  width: 100px;
  height: 50px;
  padding: 20px;
  color: #C0C0C0;
  text-decoration: none;
  border-radius: 20px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}
.container .nav a:hover {
  background: #f5f5f5;
  color: lightgray;
  border-radius: 20px;
  padding: 15px;
  background: #d6f4cf;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #d6f4cf;
  padding: 1rem;
}
.box .image1 {
  padding: 1rem;
  text-align: center;
}
.box .image1 .notepad {
  padding: 0.5rem;
}
.box .image1 .notepad h1 {
  text-align: center;
  padding: 0.5rem;
}
.box1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 2rem;
  justify-content: center;
  background-color: #d6f4cf;
}
.box1 #about {
  padding: 0.25rem;
  /*.button {
				 display: inline-block;     
  			 position: relative;   
   			 padding: 0em;     
   			 margin: -2em; 
			} // end of .button //
*/
}
.box1 #about h1 {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
}
.box1 #about .note {
  font-size: 1.75rem;
}
.box1 #about p {
  padding: 0.75rem;
  margin: 1rem;
  font-size: 1rem;
}
.box1 #about button {
  font-size: 1rem;
  height: 2rem;
  width: 10rem;
  background-color: #f4f7f6;
  border-radius: 12px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 16px 0 rgba(0, 0, 0, 0);
}
hr {
  margin-top: 1rem;
}
.box2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
.box2 h2 {
  padding: 1rem;
  border-bottom: 3px solid lightgrey;
  text-align: center;
  width: 100%;
}
.box2 .list {
  font-size: 0.75rem;
  padding: 2rem;
}
.box2 li {
  padding: 0.5rem;
}
.box2 #summary {
  list-style-type: square;
  font-size: 1rem;
}
.box2 .fun {
  border-bottom: 3px solid lightgrey;
  text-align: center;
  width: 100%;
}
.box2 .list2 {
  padding: 1rem;
  border: 3px solid lightgray;
}
.box2 #interests {
  list-style-type: square;
  font-size: 1rem;
  padding: 1rem;
}
/*  ***************************** table ************************* */
#ResponsiveTable {
  width: 100%;
  border-collapse: collapse;
  color: darkgray;
}
#ResponsiveTable tr:nth-of-type(odd) {
  background: #fff5e1;
}
#ResponsiveTable tr,
#ResponsiveTable th {
  font-size: 1rem;
  border: 1px solid darkgray;
  padding: 10px 8px 0 8px;
}
#ResponsiveTable th {
  text-align: center;
  padding-bottom: 5px;
}
#ResponsiveTable #HeadRow {
  background: #d6f4cf;
  color: #A9A9A9;
  font-weight: bold;
  text-align: center;
}
#ResponsiveTable td {
  padding: 5px;
  border: 1px groove lightgray;
  text-align: center;
  font-size: 0.9rem;
}
/*  ***************************** End of table ************************* */
#contact {
  font-size: 1rem;
  padding: 0.1rem;
  margin: 1rem;
}
.copyright {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
/*  ******************** 500px max-width   ************************* */
@media screen and (max-width: 500px) {
  body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .container .nav {
    margin: 40px;
    margin-bottom: 0;
  }
  .container .nav a {
    border-bottom: 1px groove lightgray;
    text-align: center;
    width: 100%;
  }
  .box {
    display: none;
  }
  .box1 #about {
    margin-left: -20px;
    width: 90%;
  }
  .box1 #about h1 {
    width: 50%;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-right: 200px;
  }
  .box1 #about .note {
    font-size: 1.3rem;
  }
  button {
    text-align: center;
  }
  .box2 {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding: 10px;
  }
  #summary li {
    border-bottom: 1px groove lightgray;
    padding: 2px;
  }
  li {
    margin: 1rem;
  }
  #history {
    width: 80%;
    margin-top: -60px;
    margin-left: 25px;
    align-items: center;
    padding: 10px;
  }
  #ResponsiveTable,
  #ResponsiveTable tbody,
  #ResponsiveTable tr,
  #ResponsiveTable td {
    display: block;
  }
  #HeadRow {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  #ResponsiveTable td {
    position: relative;
    padding-left: 40%;
    white-space: normal;
    text-align: left;
  }
  #ResponsiveTable td:before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  #ResponsiveTable td:before {
    content: attr(tableHeadData);
  }
}
